<% provide(:title, 'Login') %>
<section class="signin">
	<div class="column full col-sm-12">
		<div class="col-sm-offset-2 col-sm-8">
			<%= simple_form_for(resource, :as => resource_name, :validate => true, :url => session_path(resource_name), :html => {class: "panel panel-default"}) do |f| %>
			
				<div class="panel-heading">
					<h2>Login</h2>
				</div>
				<div class="panel-body mar-top20">
					<div><%= f.email_field :login, placeholder: 'Email/Username' %></div>

					<div><%= f.password_field :password, placeholder: 'Password' %></div>

					<% if devise_mapping.rememberable? -%>
					<div><%= f.input_field :remember_me, as: :boolean, inline_label: '  Remember me' %></div>
					<% end -%>
					<%= f.submit "Sign in", class: "btn btn-primary mar-top10 submit-btn" %>
					<div class="mar-top20 mar-bot20">
						<%= render "users/shared/links" %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</section>