<% provide(:title, @user.name) %>
<div class="row">
  <div class="span3">
    <span class="profile-pic">
      <%= link_to(image_tag(@user.avatar.url(:med)), @user.avatar.url(:med), :data => { :colorbox => true }) unless @user.avatar.nil? %>
      <h1>
        <%= @user.name %>
      </h1>
    </span>  

    <% if signed_in? %> 
      <% unless current_user?(@user) %>
        <div id="follow_form">
          <% if current_user.following?(@user) %>
            <%= link_to "Unfollow", unfollow_user_path(@user), :class => "btn btn-large" %>
          <% elsif current_user.pending?(@user) %>
            <%= link_to "Pending", unpend_user_path(@user), :class => "btn btn-large" %>
          <% else %>
            <%= link_to "Follow", follow_user_path(@user), :class => "btn btn-large btn-primary" %>
          <% end %>
        </div>
      <% end %>
    <% end %>     

    <span class="profile-stats">
      <%= render 'shared/stats' %>
    </span>

    <% if @users.any? %>
      <span class="profile-follow">        
        <div class="@user_avatars">
          <% @users.each do |user| %>
            <%= link_to avatar_for(@user, 'xsml'), user %>
          <% end %>
        </div>
      </span> 
    <% end %>

    <span class="profile-details">
      <h3>About</h3>
      <li>Sex: <p><%= @user.sex.to_s %></p></li>
      <li>Location: <p><%= @user.location %></p></li>
      <li>Bio: <p><%= @user.bio %></p></li>
      <li>Type: <p><%= @user.private_followable %></p></li>            
    </span> 
  </div>

  <div class="span6">
    <% if @user == current_user || !@user.private_followable? || current_user.following?(@user) %>
      <% if @user.stories.any? %>
        <h3>Stories (<%= @user.stories.count %>)</h3>
        <ol class="stories">
          <%= render @user.stories %>
        </ol>
        <%= will_paginate @stories %>
      <% end %>    
    <% else %>
      <ol class="stories">
        <li>
          <h1>This is a private user</h1>
        </li>        
      </ol>
    <% end %>
  </div>

  <div class="span3"></div>
</div>