<%= simple_form_for(@comment, remote: true) do |f| %>
 <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.hidden_field :story_id, value: @story.id %>
    <%= f.text_area :comment, placeholder: "write a comment..." %>
  </div>
  <div class="submit">
    <%= f.submit "Comment", class: "btn btn-large btn-primary"  %>
  </div>
<% end %>

