<li class="panel panel-default" id="<%= feed_item.id %>">
	
	<div class="panel-heading story-heading">
		<%= link_to avatar_for(feed_item.user, 'thumb'), feed_item.user, class: "panel-avatar" %>
		<span class="story-title"><%= link_to feed_item.title, story_path(feed_item) %></span>
		
		<span class="comment mar-top15">
			<%= link_to story_path(feed_item) do %><i class="fa fa-comment"></i><%= feed_item.comments.count %>
			<% end %>
		</span>
	</div>
	<div class="story-<%= feed_item.id %>">
		<span class="content">
			<% if feed_item.content_image? %>
				<span class="story-image">
					<%= image_tag feed_item.content_image.url(:small) %>
				</span>
			<% end %>

			<div class="panel-body">
				<span class="details mar-bot20">
					posted by: <%= link_to feed_item.user.username, feed_item.user %>
					<span class="timestamp">
						<%= time_ago_in_words(feed_item.created_at) %> ago.
					</span>
					<span class="delete mar-top15">
						<% if current_user.id == (feed_item.origin_user_id) %>
							<%= link_to feed_item, method: :delete,
													data: {confirm: "You sure!"},
													title: feed_item.title do %>
								delete
							<% end %>
						<% end %>
					</span>
				</span>
				<div class="mar-top20" id="story-content">
					<%= feed_item.content_html %>
				</div>
				<hr>
				<div class="vote-<%= feed_item.id %>">
					<%= render partial: "shared/vote", locals: {feed_item: feed_item} %>		
				</div>
				
			</div>
		</span>
	</div>
</li>

<span class="comments-<%= feed_item.id %>">
</span>

<script type="text/javascript">$(document).ready(function(){
	// Target your .container, .wrapper, .post, etc.
	$(".content").fitVids();
});</script>
