<%= simple_form_for(@story, remote: true, :validate => true, :html => { :multipart => true } ) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :title, placeholder: "Title" %>
  </div>
  <div class="field">
    <%= f.text_area :content, placeholder: "What do you want to say..." %>
  </div>

  <span class="story-btn" style="display: block; float: none;">
    
    <label class="checkbox">
      <input id="story_anonymous" label="Post anonymously?" name="story[anonymous]" type="checkbox" value="1"> post anonymously?
    </label>

    <span class="fileupload fileupload-new" data-provides="fileupload">
      <span class="btn btn-file">
        <span class="fileupload-new"><i class="icon-picture"></i></span>
        <span class="fileupload-exists">change</span>
          <input id="story_content_image" name="story[content_image]" placeholder="Upload an image" type="file"></span>
      <!-- <span class="fileupload-preview"><a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">x</a></span>     -->
    </span>

    <span class="submit">
      <%= f.submit "Post", class: "btn btn-primary" %>
    </span>
  </span>
<% end %>
