<% if feed_item.user == current_user || feed_item.user.private_followable == false || current_user.following?(feed_item.user)%>
	<% if feed_item.voted_by?(current_user) %>
		<% if current_user.voted_for?(feed_item) %>
			<span class="vote-btn">
				<%= link_to unvote_story_path(feed_item), class: "wir", remote: true do %>
					<i class="icon-wir"></i>
					<% if feed_item.upcount > 0 %><%= feed_item.upcount %><% end %>
				<% end %>
			</span>
			<span class="vote-btn">
				<%= link_to vote_down_story_path(feed_item), class: "wiw", remote: true do %><i class="icon-wiw"></i>
					<% if feed_item.downcount > 0 %><%= feed_item.downcount %><% end %>
				<% end %>
			</span>
		<% else %>
			<span class="vote-btn">
				<%= link_to vote_up_story_path(feed_item), class: "wir", remote: true do %>
					<i class="icon-wir"></i>
					<% if feed_item.upcount > 0 %><%= feed_item.upcount %><% end %>
				<% end %>
			</span>
			<span class="vote-btn">
				<%= link_to unvote_story_path(feed_item), class: "wiw", remote: true do %>
					<i class="icon-wiw" style= "background-position: -16px 0px"></i>
					<% if feed_item.downcount > 0 %><%= feed_item.downcount %><% end %>
				<% end %>
			</span>
		<% end %>
	<% else %>
		<span class="vote-btn">
			<%= link_to vote_up_story_path(feed_item), class: "wir", remote: true do %>
				<i class="icon-wir"></i>
			<% end %><% if feed_item.downcount > 0 %><%= feed_item.downcount %><% end %>
		</span>
		<span class="vote-btn">
			<%= link_to vote_down_story_path(feed_item), class: "wiw", remote: true do %>
				<i class="icon-wiw"></i>
			<% end %><% if feed_item.downcount > 0 %><%= feed_item.downcount %><% end %>
		</span>
	<% end %>
<% else %>
	<% if feed_item.voted_by?(current_user) %>
		<% if current_user.voted_for?(feed_item) %>
			<%= link_to unvote_story_path(feed_item), class: "wir" do %><%= feed_item.upcount %>
				<i class="icon-wir" style= "background-position: -16px -16px"></i>
			<% end %><% if feed_item.downcount > 0 %><%= feed_item.downcount %><% end %>

			<%= link_to vote_down_story_path(feed_item), class: "wiw" do %>
				<%= feed_item.downcount %><i class="icon-wiw"></i>
			<% end %><% if feed_item.downcount > 0 %><%= feed_item.downcount %><% end %>

		<% else %>
			<%= link_to vote_up_story_path(feed_item), class: "wir" do %>
				<%= feed_item.upcount %><i class="icon-wir"></i>
			<% end %><% if feed_item.downcount > 0 %><%= feed_item.downcount %><% end %>

			<%= link_to unvote_story_path(feed_item), class: "wiw" do %>
				<%= feed_item.downcount %><i class="icon-wiw" style= "background-position: -16px 0px"></i>
			<% end %><% if feed_item.downcount > 0 %><%= feed_item.downcount %><% end %>
		<% end %>
	<% else %>
		<%= link_to vote_up_story_path(feed_item), class: "wir" do %>
			<%= feed_item.upcount %><i class="icon-wir"></i>
		<% end %><% if feed_item.downcount > 0 %><%= feed_item.downcount %><% end %>
		<%= link_to vote_down_story_path(feed_item), class: "wiw" do %><%= feed_item.downcount %><i class="icon-wiw"></i>
		<% end %><% if feed_item.downcount > 0 %><%= feed_item.downcount %><% end %>
	<% end %>
<% end %>