<% if user_signed_in? && (feed_item.user == current_user || feed_item.user.private_followable == false || current_user.following?(feed_item.user)) %>
	<% if feed_item.voted_by?(current_user) %>
		<% if current_user.voted_for?(feed_item) %>
			<!-- If signed in and voted for -->
			<div class="vote-items">
				<div class="like">
					<%= link_to unvote_story_path(feed_item), class: "wir", style: "color: #46a546;  font-size: 16px;", remote: true do %>
						<i class="fa fa-thumbs-up"></i>
					<% end %>
				</div>
				<div class="stats"><%= render :partial => "shared/votecount", locals: {feed_item: feed_item}  %></div>
				<div class="dislike">
					<%= link_to vote_down_story_path(feed_item), class: "wiw", remote: true do %><i class="fa fa-thumbs-down"></i>
					<% end %>
				</div>
			</div>
		<% else %>
			<!-- If signed in & voted against -->
			<div class="vote-items">
				<div class="like">
					<%= link_to vote_up_story_path(feed_item), class: "wir", remote: true do %>
						<i class="fa fa-thumbs-up"></i>
					<% end %>
				</div>
				<div class="stats"><%= render :partial => "shared/votecount", locals: {feed_item: feed_item}  %></div>
				<div class="dislike">
					<%= link_to unvote_story_path(feed_item), class: "wiw", style: "color: #9d261d; font-size: 16px;", remote: true do %>
						<i class="fa fa-thumbs-down"></i>
					<% end %>
				</div>
			</div>
		<% end %>
	<% else %>
		<!-- If signed in but hasn't voted yet -->
		<div class="vote-items">
			<div class="like">
				<%= link_to vote_up_story_path(feed_item), class: "wir", remote: true do %>
					<i class="fa fa-thumbs-up"></i>
				<% end %>
			</div><div class="stats"><%= render :partial => "shared/votecount", locals: {feed_item: feed_item}  %>
			</div><div class="dislike">
				<%= link_to vote_down_story_path(feed_item), class: "wiw", remote: true do %>
					<i class="fa fa-thumbs-down"></i>
				<% end %>
			</div>
		</div>
	<% end %>
	<!-- For none signed in or users thats not following -->
<% else %>
	<div class="vote-items row">
		<div class="like">
			<%= link_to vote_up_story_path(feed_item), class: "wir" do %>
				<i class="fa fa-thumbs-up"></i>
			<% end %>
		</div><div class="stats">
			<%= render :partial => "shared/votecount", locals: {feed_item: feed_item}  %>
		</div><div class="dislike">
			<%= link_to vote_down_story_path(feed_item), class: "wiw" do %>
				<i class="fa fa-thumbs-down"></i>
			<% end %>
		</div>
	</div>
<% end %>