<section class="single-story container">
	<div class="col-sm-12 col-sm-12">
		<div class="right col-md-8 col-sm-8 col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<%= link_to avatar_for(@story.user, 'thumb'), @story.user, class: "panel-avatar" %>
					<span class="story-title">
						<%=  @story.title %>				
					</span>
				</div>
					
				<div class="story">
					<% if @story.content_image? %>
						<span class="story-image">
							<%= image_tag @story.content_image.url(:small) %>
						</span>
					<% end %>

					<div class="panel-body">
						<span class="details mar-bot20">
							posted by: <%= link_to @story.user.username, @story.user %>
							<span class="timestamp">
								<%= time_ago_in_words(@story.created_at) %> ago.
							</span>
							<span class="delete">
								<% if user_signed_in? && current_user.id == (@story.origin_user_id) %>
									<%= link_to @story, method: :delete,
															data: {confirm: "You sure!"},
															title:@story.title do %>
										delete
									<% end %>
								<% end %>
							</span>
						</span>

						<div class="mar-top20" id="story-content">
							<%= @story.content_html %>
						</div>
						<hr>
						<span class="vote-<%= @story.id %>">
							<%= render partial: "shared/vote", locals: {feed_item: @story} %>		
						</span>
					</div>
				</div> <!-- /story-content -->
			</div>	<!-- story-panel	 -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="comment-header"><%= pluralize(@story.comments.count, "Comment") %></h3>
				</div>
			</div>
			<%= render 'shared/comments' %>	
			<% if user_signed_in? && (current_user.following?(@story.user) || current_user == @story.user) %>
				<div class="panel panel-default">
					<%= render 'shared/comment_form' %>
				</div>
			<% end %>
		</div>

		<div class="col-sm-4 col-xs-4">					
			
		</div>
	</div>
</section>
<script type="text/javascript">$(document).ready(function(){
	// Target your .container, .wrapper, .post, etc.
	$(".story").fitVids();
});</script>