<section class="privacy container">
  <div class="col-md-12 col-sm-12">
    <div class="row">
      <div class="edit-nav col-md-4 col-sm-4 col-xs-12">
        <ul class="nav nav-pills side-nav nav-stacked">
          <li class="<%= 'active' if current_page?(settings_path) %>">
            <%= link_to '<i class="icon-chevron-right"></i> Account'.html_safe, settings_path %>
          </li>
          <li class="<%= 'active' if current_page?(settings_password_path) %>">
            <%= link_to '<i class="icon-chevron-right"></i> Password'.html_safe, settings_password_path %>
          </li>
          <li class="<%= 'active' if current_page?(settings_privacy_path) %>">
            <%= link_to '<i class="icon-chevron-right"></i> Privacy'.html_safe, settings_privacy_path %>
          </li>
        </ul>
        </ul>
      </div>
      <div class="user-edit col-md-8 col-sm-8 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2>Make Private</h2>
            <p>Change your current password</p>
          </div>
          <div class="panel-body">
            <% if current_user.private? %>
              <%= link_to "make public", make_public_user_path(current_user), :class => "btn btn-primary" %>
            <% else %>
              <%= link_to "make private", make_private_user_path(current_user), :class => "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>